/*provincia.html - main*/
.buttonsBack-Up {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 2rem;
}

.buttonsBack-Up .button-volver,
.buttonsBack-Up .buttonUp {
	border-radius: 8px;
	padding: 0.5rem 1rem;
	background-color: #0078d7;
	text-align: center;
	width: 10rem;
	font-size: 18px;
	text-decoration: none;
	color: white;
	margin: 1rem;
}

.provinciaSelectedName {
	width: 100%;
	text-align: center;
	margin-bottom: 1rem;
}

.provinceDetail {
	background-color: hsl(205, 45%, 50%);
	display: flex;
	flex-direction: column;
	justify-content: baseline;
	align-items: center;
	width: 100%;
	height: 100%;
	padding: 1rem;
}

.provinceDetail .provinciaSelectedContainer {
	background-color: hsl(205, 45%, 50%);
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding: 1rem;
	margin: 1rem;
	width: 100%;
	height: 75%;
}

.provinceDetail .provinciaSelectedContainer .activity {
	text-align: center;
	width: 65%;
	height: 65%;
	margin: 1rem;
	padding: 2rem;
	background-color: #f0f0f0;
	border: black 1px solid;
	border-radius: 8px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.provinceDetail .provinciaSelectedContainer .activity .activityImage {
	width: 75%;
	height: auto;
	margin: 1rem;
	border-radius: 8px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.provinceDetail .provinciaSelectedContainer .activity .activityDescription {
	height: 30%;
	margin: 1rem;
}

.provinceDetail .provinciaSelectedContainer .activity .activityTitle {
	height: 30%;
	margin: 1rem;
}
